/* 
==============================================
CONTENT:	Lindblad
AUTHOR:		Danny McMillan
==============================================


/* 0. Reset/Variables ================================= */
@import 'reset';
@import 'fonts';


$accentOrange: #e36d32;
$fujiBold: 'fujibold';
$fujiNorm: 'fujinormal';
$fujiMed: 'fujimedium';
$textcolor: #dada00;
$accentBlue: #6490a1;


$mobile-break: 320px;
$tablet-break: 768px;
$desktop-break: 1180px;

/* Main Layout ================================= */

* {
	box-sizing: border-box;
}


body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1400px;
	margin: auto;
	overflow-x: hidden;
}




.content-home {
	z-index: 0;
	position: relative;
	background: url('../img/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	

	#header {

	
			#hamburger {
				z-index: 2;
				display: inline-block;
				padding: 10px 10px 0px 10px;
				cursor: pointer;
		
				.line-1 {
					width: 25px;
					height: 3px;
					border-radius: 10px;
					background-color: white;
					margin: 6px 0;
					transition: 0.4s; 
				}

				.line-2 {
					width: 35px;
					height: 3px;
					border-radius: 10px;
					background-color: white;
					margin: 6px 0;
					transition: 0.4s;
				}
				
				.line-3 {
					width: 45px;
					height: 3px;
					border-radius: 10px;
					background-color: white;
					margin: 6px 0;
					transition: 0.4s ease-in-out;
				}
		
				.change.line-1 {
					transform: rotate(-45deg) translate(-5px, 3px);
					width: 45px;
				}
		
				.change.line-2 {
					opacity: 0;
				}
		
				.change.line-3 {
					transform: rotate(45deg) translate(-8px, -8px) ;
				}
		
				#hamburger.menu-ani {
					transition: .7;
				}
		
			}
		
		}

		.overlay {
			z-index: 1;
			position: absolute;
			top: 20%;
			background: black;
			opacity: .7;
			width: 600px;
			height: 420px;
			left: -80%;
			transition: 0.8s;

		}
		.open.overlay	 {
			left: 0%;
			transition: 0.3s;
		}
		.open.overlay-nav {
			left: 0%;
			transition: 0.6s;
		}



	.overlay-nav {
		z-index: 2;
		position: absolute;
		top: 20%;
		left: -60%;
		transition: 0.4s;
		

		a {
			color: $accentOrange;
			font-size: 50px;
			padding: 20px 0px 10px 60px;
			margin-left: 100px;
			text-align: left;
			position: relative;
			font-family: $fujiMed;
			text-decoration: none;
			display: block;
			letter-spacing: 1.5px;
		
		}

		.home-nav:after {
			content: '';
			position: absolute;
			height: 395%;
			width: 1px;
			left: 5%;
			top: -110%;
			background-color: #fff;
			transform: rotate(90deg);

		}

		.Ca-nav:after {
			content: '';
			position: absolute;
			height: 920%;
			width: 1px;
			left: 5%;
			top: -370%;
			background-color: #fff;
			transform: rotate(90deg);
			
		}

		.exp-nav:after {
			content: '';
			position: absolute;
			height: 935%;
			width: 1px;
			left: 5%;
			top: -380%;
			background-color: #fff;
			transform: rotate(90deg);
		
		}

		.about-nav:after {
			content: '';
			position: absolute;
			height: 420%;
			width: 1px;
			left: 5%;
			top: -120%;
			background-color: #fff;
			transform: rotate(90deg);
		
		}

		.reserve-nav:after {
			content: '';
			position: absolute;
			height: 815%;
			width: 1px;
			left: 5%;
			top: -320%;
			background-color: #fff;
			transform: rotate(90deg);
		
		}
	}



	.intro-text {

		
		z-index: 1;
		margin-top: 30px;
		.border-intro-text-con, .border-intro-text-uer {
			position: relative;
		}
		.border-intro-text-con:after {
			content: '';
			height: 200%;
			width: 3px;
			transform: rotate(90deg);
			position: absolute;
			right: 48%;
			top: -15%;
			background-color: #fff; 
			animation: slideinBorder1 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1;

		  }
		 	  
	}

		  

		  @keyframes slideinBorder1 {
			  0% {
				right: 148%;
				
			  }

			  100% {
				right: 48%;
				
			  }
		  }

		  .border-intro-text-uer:after {
			content: '';
			height: 180%;
			width: 3px;
			transform: rotate(90deg);
			position: absolute;
			right: 54%;
			top: -5%;
			background-color: #fff; 
			animation: slideinBorder2 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1;

		  }

			
		}

		  @keyframes slideinBorder2 {
			0% {
			  right: -66%;
			 
			}

			100% {
			  right: 54%;
			 
			}
		}
	
		h1 {
			position: relative;
			color: #fff;
			font-family: $fujiBold;
			letter-spacing: 20px;
			font-size: 95px;
			text-align: center;

		}
	
		h2 {
			position: relative;
			font-family: $fujiMed;
			font-size: 35px;
			color: $accentOrange;
			text-align: center;
			margin-top: 20px;
			letter-spacing: 15px;
			}

	.book-now-btn {
		color: white;
		opacity: .6;
		position: absolute;
		left: 85%;
		top: 85%;
		p {
			cursor: pointer;
			border: 1px solid white;
			display: inline;
			padding: 10px;
			font-family: $fujiMed;
			letter-spacing: 2px;

		}

	}



/* END OF CONTENT ================================= */

.dest-picker {
	background: #000000;
	position: relative;
	h2, p {
		color: white;
		font-family: $fujiBold;
		letter-spacing: 1px;
	}

	.i-want-to {
		padding: 10px;
		margin-bottom: -15px;
		margin-left: 200px;
		padding-top: 30px;
		font-size: 25px;
		letter-spacing: 5px;
	
	}

	.dest-flex-text {
		display: flex;
		flex-direction: row;
		justify-content: center; 

	
		.conquer-dest {
			padding: 10px;
			font-size: 60px;
		
		}

		.rotating-text-cars {

			position: relative;
			width: 326px;
			border-bottom: 3px solid white;


		
			.text-car {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 60px;
				padding: 10px 10px 0 10px;
				font-size: 60px;
				color: $accentOrange;
				display: none;
				text-align: center;
				line-height: 60px;
				
				&.showing {
					display: block;
					
				}
				&.text-car-small {
					font-size: 34px;
				}
			}


			// .text-car:after {
			// 	content: '';
			// 	height: 280%;
			// 	width: 3px;
			// 	transform: rotate(90deg);
			// 	position: absolute;
			// 	right: 50%;
			// 	top: -45%;
			// 	background-color: #fff; 

			// }
		}

	}
	.explore-here {
		font-size: 15px;
		opacity: .7;
		text-align: center;
		padding: 10px;
		margin-left: 280px;
	
	}

	
}


///END OF DESTINATION PICKER //


.middle-section {
	padding: 30px;
	margin-top: 60px;
	overflow-x: hidden;


	.middle-text-blurb {
		font-family: $fujiMed;
		margin-bottom: 10px;
		
		h2 {
			font-size: 20px;
		}

		.highest-rated-trips {
			font-size: 60px;
			letter-spacing: 5px;
			color: $accentBlue;
		
		}

	}

	.middle-popular-wrapper, .middle-buck-wrapper, .middle-unique-wrapper {
		font-family: $fujiMed;
	

			 .view-btn  {
				margin-left: 45px;
				position: relative;
				letter-spacing: 1px;
				font-size: 40px;
			

				.dash-btn {
					font-size: 60px;
					cursor: pointer;
				}
			}

		}

		.middle-popular, .middle-buck, .middle-unique {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-left: 40px;	 
		
		}	
			
		

			.dates-pop {
				color: $accentBlue;
				font-style: italic;
			}
		
			p {
				text-align: left;
				padding-bottom: 5px;
			}
		}




.bottom-section {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: relative;


	.header-bottom {
		font-size: 40px;
		font-family: $fujiBold;
		letter-spacing: 1px;
	
	}
	

	aside {
		.dolphin-img {
			width: 600px;
		

		}
	
	}
	
	.why-lindblad-wrapper {
		z-index: 1;
		margin-top: 100px;
		width: 100%;
		background: $accentOrange;
		z-index: 1;
		font-family: $fujiMed;
		padding: 60px;
		text-align: justify;
		max-height: 200px;
		transform: translateX(40px);
	

		.learn-more-link {
			float: right;
			text-decoration: none;
		}


	}
}

footer {
	font-family: $fujiMed;
	background: black;
	color: white;
	display: flex;
	flex-direction: row;
	padding: 50px;
	justify-content: space-around;

}













